body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Asset 5.png');
    background-size: auto; /* Adjusted to cover the entire background */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f4f4f4;
    color: #333;
}
body.dark-mode {
    background-color: #121212;
    color: white; /* Adjusted for better readability in dark mode */
}

/* Dark mode for specific elements */
header.dark-mode {
    background-color: #1f1f1f;
}
#toggle-dark-mode {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

#toggle-dark-mode:hover {
    background-color: #0056b3;
}

#toggle-dark-mode:active {
    background-color: #004085;
}

/* Header styles */
.header {
    margin: 20px;
    background-color: #007BFF;
    padding: 10px; /* Adjusted for better spacing */
    text-align: center;
    color: white;
}

.header h1 {
    margin: 0; /* Removed unnecessary margin */
}

/* Container styles */
.container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navigation styles */
.navigation {
    margin-bottom: 20px;
    text-align: center;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #0056b3;
}

.nav-button a:hover {
    color: #e0e0e0;
}

/* Search container styles */
.search-container {
    margin: 20px;
    text-align: right;
}

.search-container input[type="text"] {
    padding: 7px;
    width: 80%;
    max-width: 400px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 0.7em;
}

/* Table styles */
table {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #007BFF;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* No results message styles */
.no-results {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #888;
}
