body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Asset 5.png');
    background-size: auto; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the image fixed in place */
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
.header {
    margin: 20px;
    background-color: #007BFF;  /* Blue background */
    padding: 0.20px;
    text-align: center;
    color: white;
}

.header h1 {
    margin: 3px;
    margin top: 20px;
}

/* Container styles */
.container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navigation styles */
.navigation {
    margin-bottom: 20px;
    text-align: center;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
}

.home-button {
    background-color: #007BFF; /* Blue background */
}

.motor-button {
    background-color: #0056b3; /* Darker blue background */
}

.nav-button:hover {
    opacity: 0.8; /* Slightly dim the button on hover */
}

/* Search container styles */
.search-container {
    margin: 20px;
    text-align: right;
}

.search-container input[type="text"] {
    padding: 7px; /* Slightly smaller padding */
    width: 80%;
    max-width: 400px;
    border: 2px solid #ddd;
    border-color: black;
    border-radius: 4px;
    font-size: 0.7em; /* Slightly smaller font size */
}

/* Table styles */
table {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #007BFF; /* Blue background */
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* No results message styles */
.no-results {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #888;
}


